<header class="company-header">
  <h4>HashedIn Marketplace</h4>
  <div class="search-bar">
  <input type="text" class="input-search" placeholder="Search for items..." [(ngModel)]="searchQuery" (keyup.enter)="onSearch()" />
  <button (click)="onSearch()">🔍</button>
  <select [(ngModel)]="sortOption" (change)="onSortChange()">
    <option value="">Sort</option>
    <option value="name">Name (A-Z)</option>
    <option value="priceLow">Price (Low to High)</option>
    <option value="priceHigh">Price (High to Low)</option>
  </select>
</div>
  <div class="header-buttons">
    <button class="login-button" *ngIf="isLoggedIn" (click)="onCartClick()">🛒{{countItems}}</button>
  
  <div class="profile-menu" *ngIf="isLoggedIn" (click)="toggleDropdown()" tabindex="0" (blur)="closeDropdown()">
    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Profile" class="profile-icon" />
    <div class="dropdown" *ngIf="dropdownOpen">
      <div class="dropdown-item">My Profile</div>
      <div class="dropdown-item">My Items</div>
      <div class="dropdown-item" (click)="logout()">Logout</div>
    </div>
  </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>