<div class="cart-container">
  <h2>Your Cart</h2>
  <div *ngIf="cartItems.length === 0">Your cart is empty.</div>
  <div *ngFor="let item of cartItems" class="cart-item">
    <img [src]="item.image" alt="cart-item" width="60" />
    <span>{{ item.name }}</span>
    <div>
      <span>Qty:</span>
      
    </div>
    <span>${{ item.price }}</span>
  </div>
  <div *ngIf="cartItems.length > 0" class="cart-total">
    <strong>Total: ${{ totalPrice }}</strong>
  </div>
    <button *ngIf="cartItems.length>0" class="checkout-button" (click)="checkout()">Checkout</button>
</div>