<div class="dashboard-container">
  <h2>Featured Products</h2>
  <p>Products found: {{ filteredProducts.length }}</p>
  <div class="product-grid">
    <div class="product-card" *ngFor="let product of filteredProducts">
      <img [src]="product.image" [alt]="product.name" class="product-image" />
      <div class="product-details">
        <h3>{{ product.name }}</h3>
        <p class="category">{{ product.category }}</p>
        <p class="description">{{ product.description }}</p>
        <p class="price">${{ product.price }}</p>
        <p class="posted-by">
          <span>Posted by:</span> {{ product.postedBy?.user_name }}
        </p>
        <p class="posting-date">
          <span>Date:</span>
          {{ product.postingDate }}
        </p>
        <!-- <button (click)="onAddToCart(product)">Add to Cart</button> -->
         <button 
          *ngIf="canBuyNow(product) && !isPendingApproval(product.id)" 
          (click)="onBuyNow(product)">
          Buy Now
        </button>
        <button 
          *ngIf="isPendingApproval(product.id)" 
          class="pending-approval" 
          disabled>
          Pending Approval
        </button>
      </div>
    </div>
  </div>
</div>
