<div class="dashboard-container">
  <h2>Products</h2>
  
    <div class="product-grid" style="display: grid; grid-template-columns: repeat(5, 1fr); gap: 16px;">
      <button (click)="openDialog()" style="margin-bottom: 16px;">
        <h2>Add Product</h2>
      </button>
      <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
    </div>

  <div *ngIf="dialogOpen" class="dialog-backdrop">
    <div class="dialog-box">
      <h3>Add Product</h3>
      <form #productForm="ngForm" (ngSubmit)="addProduct()">
        <input type="text" placeholder="Name" [(ngModel)]="newProduct.name" name="name" required class="product-input" />
        <textarea placeholder="Description" [(ngModel)]="newProduct.description" name="description" class="product-input"></textarea>
        <input type="number" placeholder="Price" [(ngModel)]="newProduct.price" name="price" required class="product-input" />
        <input type="text" placeholder="Image URL" [(ngModel)]="newProduct.image" name="image" required class="product-input" />
        <input type="number" placeholder="Available units" [(ngModel)]="newProduct.count" name="available" required class="product-input" />
        <div style="margin-top: 16px;">
          <button type="submit" [disabled]="!productForm.form.valid">Add</button>
          <button type="button" (click)="closeDialog()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  
</div>